@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  img{
      max-width: 100%;
      max-height:max-content;
      aspect-ratio: 2;
      flex: .75;
  }
  #img
  {
      flex: none;
      aspect-ratio: none;
  }
#body
{
    background-color: #F1FFFA;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Verdana, sans-serif;
    width: 100%;
    
}
#no_padding
{
    padding: 0;
}
 /* navbar  */
#navbar
{
    position: fixed;
    z-index:2;
    width: 100%;
    background-color: #F1FFFA !important;
}
.navbar-brand
{
    padding: 0 22.5% 0 0;
}
#navbarDropdown
{
    float: right;
}
.nav-button
{
    padding: 0 0 1% 0; 
}
.github, .linkedIn
{
    position:relative;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20%;
    float: right;
    
}
#github
{
    block-size: 90%;
    margin: 0 -80% 0 0
}

#logos
{
    position: relative;
    float: left;
}

/* background photo */
.nameDescription
{
    position: absolute;
    left:50%;
    top:20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}


/* about me */
.container
{
    background-color: rgba(123, 189, 255, 0.080);
    border-color: rgba(69,69,69,1.0);
    position: relative;
    text-align: center;
    

}
#col-sm1
{
    border-top: 6px solid transparent; 
    border-left: 6px solid transparent; 
    border-bottom: 6px solid transparent;
    border-right: 3px solid rgba(69,69,69,1.0);  

}
#col-sm2
{
    border-top: 6px solid rgba(69,69,69,1.0); 
    border-left: 3px solid rgba(69,69,69,1.0); 
    border-bottom: 6px solid rgba(69,69,69,1.0);
    border-right: 3px solid rgba(69,69,69,1.0);
    text-align:center;
}
#col-sm3
{
    border-top: 6px solid rgba(69,69,69,1.0); 
    border-left: 3px solid rgba(69,69,69,1.0); 
    border-bottom: 6px solid rgba(69,69,69,1.0);
    border-right: 6px solid rgba(69,69,69,1.0);
    text-align:center;
    
}
.text
{
    padding: 45% 0 45% 0;
}
#heading1
{
    text-align:center;
}
/* skills */
.container2
{
    background-color: rgba(213, 199, 188, 1.0);
    width: 75%;
    margin: 0 0 0 12.5%;
    border: 3px solid rgba(69,69,69,1.0);
}
#skill
{
    background-color: transparent;
    border: none;
    text-align:center;
}
.row
{
    padding:10px;

}

@media screen and (max-width: 768px) {
    .row {
      /*display property will be overriden as any class further inside this scope*/
      display: block !important;
    }
}
.writings
{
    text-align: center;
}
.skillsTitle
{
    position: relative;
    text-align: center
}
#icons
{
    position: relative;
}
.carousel-item
{
    text-align: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon 
{
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  position: relative;
}

/*portfolio*/
.works
{
    text-align: center;
    padding: 10px 0 0 0;
}
.selection
{
    width: 75%;
    padding: 0 0 0 36.5%;
}
ul#breadcrumb li
{
    display: inline;
}
#breadcrumb-item
{
    list-style-type: none;
    position: relative;
    background-color: transparent;
    border: 0px;
}
.container3
{
    width: 75%;
    margin: 0 0 0 12.5%;
}
.embedly-card
{
    text-align:center;
    background-color: rgba(213, 199, 188, 1.0);
    padding:  10px 10px 8.2px 10px;
    border: 1px solid rgba(69,69,69,1.0);
}
#link
{
    color:black;
}
/* resume */
.container
{
    width: 100%;
    position:relative;
    text-align: center;
    background-color: rgba(213, 199, 188, 1.0);
   
  
}
.downRes
{
    position:relative;
    background-color: transparent;
    width: 100%;
}
#resumeDownloadable
{
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#resume
{
    position: relative;
    z-index: 1;
    
}
#resumeButton
{
    position: relative;
    z-index: 1;
}
#quote
{
    position: relative;
    z-index: 1;
    
}
#blank
{
    background-color: transparent;
    border-color: transparent;
}
/* experience */
.exp
{
    position: relative;
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.experience
{
    position: relative;
    width: 75%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.card-body
{
    background-color: rgb(147, 183, 190);
    border: 3px solid rgba(69,69,69,1.0);
}
.card-header
{
    border: 3px solid rgba(69,69,69,1.0);
    text-align: center;
}


/*get in touch*/
.container4
{
    background-color: rgb(213, 199, 188);
    width: 80%;
    margin: 0 0 0 10%;
    border: 3px solid rgba(69,69,69,1.0);
}
.getInTouch
{
    width: 100%;
    background-color:transparent;
}
.forms
{
    position: relative;
    text-align: center;
    background-color: rgba(123, 189, 255, 0.164);
    border: 1px solid black;
    width: 50%;
    left: 25%;
}
.textBox
{
    position: relative;
    width:80%;
}

.subBut
{
    position: relative;
    left: 34.33%;
    margin: 10px;
}
#subBtn
{
    
    margin: 0 0 10px 0;
}
/*footer*/
.footer
{
    color: rgb(35, 51, 54);
    text-align: center;
}

